*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Jetbrains files
.idea/
**/.idea/*

# layer related files
PrBot_layer.zip
/python*
